<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css" />
  <style>
    body {
    	width: 100wh;
    	height: 90vh;
    	color: #fff;
    	background: linear-gradient(-45deg, #4B88A2, #92BCEA, #AFB3F7, #BCD2EE);
    	background-size: 400% 400%;
    	-webkit-animation: Gradient 15s ease infinite;
    	-moz-animation: Gradient 15s ease infinite;
    	animation: Gradient 15s ease infinite;
      }

    @-webkit-keyframes Gradient {
    	0% {
    		background-position: 0% 50%
    	}
    	50% {
    		background-position: 100% 50%
    	}
    	100% {
    		background-position: 0% 50%
    	}
    }

    @-moz-keyframes Gradient {
    	0% {
    		background-position: 0% 50%
    	}
    	50% {
    		background-position: 100% 50%
    	}
    	100% {
    		background-position: 0% 50%
    	}
    }

    @keyframes Gradient {
    	0% {
    		background-position: 0% 50%
    	}
    	50% {
    		background-position: 100% 50%
    	}
    	100% {
    		background-position: 0% 50%
    	}
    }
  </style>
</head>

<body>

</body>



<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Montserrat", sans-serif}
img {margin-bottom: -7px}
.w3-row-padding img {margin-bottom: 12px}
div {
    margin: 50px;
}
#button1 {
 float: left;
 margin-top: -30px;
}

#button2 {
 float: right;
 margin-top: -30px;
}
.form {
  margin: 70px;
}
</style>

<body>
 <div id="travel_location">
 <% if @location == "Miami" %>
    <center><h1><b>Miami</b></h1></center>
     <% sights = miami %>
     <% sights.each do |place, description| %>
     <ul>
         <li><b><%= place %></b>: <dd> <%=description%></dd></li>
     </ul>
     <%end%>
     <center><h2><b>Top-rated Restaurants of Miami</b></h2></center>
     <p>
       <ul>
         <li>
          <b> Pubbelly Noodle Bar</b> <dd>Come to this exposed-brick gastropub with Asian-fusion tapas featuring pork paired with craft beer and wine!</dd>
         </li>
         <li>
          <b>Micheal's Genuine Food and Drink</b> <dd>A new American eatery with locally sourced foods and inventive deserts!</dd>
         </li>
         <li>
         <b>Zuma</b> <dd>Come to this chic and minimalist Japanese hot spot overlooking the Miami River and enjoy shared dishes, sushi and more!</dd>
         </li>
         <li>
         <b>Joe's Stone Crab</b> <dd>This Cavernous bustling space is exclusively open between October and May, with crowds drawing in to eat some delicious crab and key-lime pie!</dd>
         </li>
         <li>
          <b>Alter</b> <dd>Refined new American foods served in an open industrial setting with an open kitchen and a lovely garden!</dd>
         </li>
       </ul>
     </p>
      <center><h2><b>What season are you planning on going?</b></h2></center>
     <div class = "form">
      <form method= "post" action="/weather">
       <p><input type= "radio" name = "miami_weather" value = "Summer">     Summer</p>
    <p><input type= "radio" name = "miami_weather" value = "Winter">     Winter</p>
    </div>
    <div id = "button1">
    <p><input type= "submit" value = "Find out what to wear!"></p>
    </form>
    </div>
    <div id = "button2">
     <form method= "get" action="/">
    <p><input type= "submit" value= "Back"></p>
    </form>
    </div>
<%elsif @location == "Los Angeles" %>
    <center><h1><b>Los Angeles</b></h1></center>
    <% sights = los_angeles %>
     <% sights.each do |place, description| %>
     <ul>
         <li><b><%=place%></b>: <dd><%=description%></dd></li>
     </ul>
     <%end%>
     <center><h2><b>Top-rated Restaurants of Los Angeles</b></h2></center>
     <p>
       <ul>
         <li>
          <b> Langer's Deli and Restaurant</b> <dd>Old-fashioned deli serving up traditional comfort foods like hot pastrami sandwiches, since 1947!</dd>
         </li>
         <li>
          <b>Humble Potato</b> <dd>Comtemporary Japenese-American fusion eatery serving burgers, hot-dogs, sandwiches, sake, and more!</dd>
         </li>
         <li>
         <b>Pizzana</b> <dd>Come to Sprinkles Cupcakes' savory ventury to enjoy thin-crusted pizzas and salads inspired by California Produce!</dd>
         </li>
         <li>
         <b>Eat</b> <dd> A quaint cafe with the best omelets, breakfast pastas, pankcakes, sandwiches, burgers, and chilaquiles!</dd>
         </li>
         <li>
          <b>Pizzeria Mozza</b> <dd>Come here to see Chef Nancy Silverton turn out acclaimed wood-burning Pizzas and antipasti in busy digs!</dd>
         </li>
       </ul>
     </p>
      <center><h2><b>What season are you planning on going?</b></h2></center>
     <div class = "form">
     <form method= "post" action="/weather">
    <p><input type= "radio" name = "los_angeles_weather" value = "Summer">     Summer</p>
    <p><input type= "radio" name = "los_angeles_weather" value = "Winter">     Winter</p>
    </div>
    <div id = "button1">
    <p><input type= "submit" value = "Find out what to wear!"></p>
    </form>
    </div>
    <div id = "button2">
     <form method= "get" action="/">
    <p><input type= "submit" value= "Back"></p>
    </form>
    </div>
<%elsif @location == "New York" %>
   <center><h1><b>New York</b></h1></center>
    <% sights = new_york %>
     <% sights.each do |place, description| %>
     <ul>
         <li><b><%=place%></b>: <dd><%=description%></dd></li>
     </ul>
     <%end%>
      <center><h2><b>Top-rated Restaurants of New York</b></h2></center>
     <p>
       <ul>
         <li>
          <b> Wildair</b> <dd>An offstoot of the Contra restaurant, serving sophisticated American food!</dd>
         </li>
         <li>
          <b>Spicy Village</b> <dd>A quaint chinese cafe serving henan foods, like hand-pulled noodles, pork pankcakes, and spicy chicken!</dd>
         </li>
         <li>
         <b>Los Tacos</b> <dd>Come to this bustling street-style taqueria serving tacos, quesadillas, and agua frescas!</dd>
         </li>
         <li>
         <b>Patsy's</b> <dd> A vintage Neapolitan eatery near Carnegie Hall, with a history of entertaining high-profile patrons!</dd>
         </li>
         <li>
          <b>Veselka</b> <dd>Come to this no-frills Ukrainian, open 24 hours, to enjoy delcious Ukrainian cuisine, such as Borscht and Pierogi!</dd>
         </li>
       </ul>
     </p>
      <center><h2><b>What season are you planning on going?</b></h2></center>
  <div class = "form">
     <form method= "post" action="/weather">
    <p><input type= "radio" name = "new_york_weather" value = "Summer">     Summer</p>
    <p><input type= "radio" name = "new_york_weather" value = "Winter">     Winter</p>
    </div>
    <div id = "button1">
    <p><input type= "submit" value = "Find out what to wear!"></p>
    </form>
    </div>
    <div id = "button2">
     <form method= "get" action="/">
    <p><input type= "submit" value= "Back"></p>
    </form>
    </div>
<%elsif @location == "Atlanta" %>
    <center><h1><b>Atlanta</b></h1></center>
   <% sights = atlanta %>
     <% sights.each do |place, description| %>
     <ul>
         <li><b><%=place%></b>: <dd><%=description%></dd></li>
     </ul>
     <%end%>
     <center><h2><b>Top-rated Restaurants of Atlanta</b></h2></center>
     <p>
       <ul>
         <li>
          <b> Seven Lamps</b> <dd>Handmade Pastas, Craft Cocktails, and a Beautiful Courtyard to enjoy it on!</dd>
         </li>
         <li>
          <b>Bone's</b> <dd>For an amazing meal of prime rib and seafood!</dd>
         </li>
         <li>
         <b>Magianno's Little Italy </b> <dd>Come to this semi-upscale chain for classic Italian fare, served family-style!</dd>
         </li>
         <li>
         <b>Del Frisco's Grille</b> <dd> A Sophisticated chophouse chain serving delcious steak, seafood, sandwiches, and cocktails!</dd>
         </li>
         <li>
          <b>Chops</b> <dd>Come here for an amazing meal of prime aged rib and fresh seafood!</dd>
         </li>
       </ul>
     </p>
      <center><h2><b>What season are you planning on going?</b></h2></center>
     <div class = "form">
     <form method= "post" action="/weather">
    <p><input type= "radio" name = "atlanta_weather" value = "Summer">     Summer</p>
    <p><input type= "radio" name = "atlanta_weather" value = "Winter">     Winter</p>
    </div>
    <div id = "button1">
    <p><input type= "submit" value = "Find out what to wear!"></p>
     </form>
     </div>
     <div id = "button2">
    <form method= "get" action="/">
    <p><input type= "submit" value= "Back"></p>
    </form>
    </div>
<% end %>
</div>
</body>
